{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'stats/style.css' %}">
<!-- <style> -->
<!-- ul { -->
<!--   list-style-type: none; -->
<!--   margin: 0; -->
<!--   padding: 0; -->
<!--   overflow: hidden; -->
<!--   background-color: #0C2340; -->
<!-- } -->

<!-- li { -->
<!--   float: left; -->
<!-- } -->

<!-- li a { -->
<!--   display: block; -->
<!--   color: white; -->
<!--   text-align: center; -->
<!--   padding: 14px 16px; -->
<!--   text-decoration: none; -->
<!-- 	font-size: 20pt; -->
<!-- } -->

<!-- li a:hover:not(.active) { -->
<!--   background-color: #111; -->
<!-- } -->

<!-- .active { -->
<!--   background-color: #C99700; -->
<!-- } -->
<!-- </style> -->
</head>
<body>
  
{% include 'stats/navbar.html' %}

<!-- 
{% for project in projects %}
<div>
    <h3>{{ project.name }}</h3>
    <ul>
    {% for person in project.assigned %}
    <li>{{ person.0.name }} {{ person.1}}</li>
    {% endfor %}
    </ul>
</div>
{% endfor %}


{% for stat in info %}
<div>
  <h3>{{ stat.name }}</h3>
  <ul>
    <li>Freshman: {{ stat.2025 }}</li> <br>
    <li>Sophomores: {{ stat.2024 }}</li> <br>
    <li>Juniors: {{ stat.2023 }}</li> <br>
    <li>Seniors: {{ stat.2022 }}</li> <br>
  </ul>
</div>

{% endfor %}

-->

{% for fig in plot_div %}
  {% autoescape off %}
    {{ fig }}
  {% endautoescape %}

{% endfor %}



</body>
</html>



