{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'stats/style.css' %}">
<!-- <style> -->
<!-- ul { -->
<!--   list-style-type: none; -->
<!--   margin: 0; -->
<!--   padding: 0; -->
<!--   overflow: hidden; -->
<!--   background-color: #0C2340; -->
<!-- } -->

<!-- li { -->
<!--   float: left; -->
<!-- } -->

<!-- li a { -->
<!--   display: block; -->
<!--   color: white; -->
<!--   text-align: center; -->
<!--   padding: 14px 16px; -->
<!--   text-decoration: none; -->
<!-- 	font-size: 20pt; -->
<!-- } -->

<!-- li a:hover:not(.active) { -->
<!--   background-color: #111; -->
<!-- } -->

<!-- .active { -->
<!--   background-color: #C99700; -->
<!-- } -->
<!-- </style> -->
</head>
<body>
{% include 'stats/navbar.html' %}

{% for project in projects %}
<div>
    <h3>{{ project.name }}</h3>
    <ul>
    {% for person in project.assigned %}
    <li>{{ person.0.name }} {{ person.1}}</li>
    {% endfor %}
    </ul>
</div>
{% endfor %}



</body>
</html>



