{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'stats/style.css' %}">
    </head>

    <body>
        {% include 'stats/navbar.html' %}

        <div class="project-container">
            <div class="project-list">
                <ul>
                    {% for project in projects %}
                    <a href="/{{ forloop.counter0 }}">
                        <li class="project-list-item">{{ project.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="proj-info">
                <div class="project-description">
                    <p> {{ proj.description }} </p>

                </div>
                <div class="project-data">
                    {% autoescape off %}
                    {{ fig }}
                    {% endautoescape %}
                </div>

            </div>
            <div class="project-applicants">
                <h3 class="project-applicants-title">Applicants</h3>

                <table class="project-applicants-table">
                    <tr class="app-table-head">
                        <th>Name</th>
                        <th>Weight</th>
                    </tr>
                    {% for app in proj.assigned %}
                    <tr>
                        <td>{{ app.0.name }}</td>
                        <td>{{ app.1|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
