<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0C2340;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 20pt;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #C99700;
}
</style>
</head>
<body>

<ul>
  <li><a href="./index.html">Home</a></li>
  <li style="float:right"><a class="active" href="./upload.html">Upload</a></li>
</ul>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="projects">Projects</label>
    <input type="file" name="projects">
    <br>
    <br>
    
    <label for="people">People</label>
    <input type="file" name="people">
    <br>
    <br>

    <input type="submit">
</form>
